<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Employees</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/projectEmployees.css}">
    <style>
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            padding-top: 60px;
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 5% auto; /* 5% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 35%; /* Could be more or less, depending on screen size */
        }
        .modal-button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .modal-button:hover {
            background-color: #45a049;
        }

        /* Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
<header>
    <!--/*/ <th:block th:include="fragments/header :: header('assign-tasks')"></th:block> /*/-->
</header>
<h1>Employee List of Project</h1>

<div class="container" id="main-container">
    <div class="employee-list add-employee-section" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_SUPERADMIN')" >
        <h2>Add Employee to Project</h2>
        <input type="text" id="searchInput" onkeyup="filterAvailableUsers()" placeholder="Search for available employees...">

        <form id="addEmployeeForm" class="employee-form">
            <button class="btn add-btn" type="button" onclick="addEmployeeToProject()">Add Employee</button>
            <button class="btn add-btn" type="button" onclick="openUploadModal()">Bulk Upload</button>
            <table class="employee-table" id="availableUsersTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Projects</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Populate with available users -->
                    <tr th:each="user : ${availableUsers}" class="employee-row">
                        <td>
                            <label class="checkbox-container">
                                <input type="checkbox" name="userId" th:value="${user.id}" th:id="'user_' + ${user.id}" class="custom-checkbox employee-checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td><span th:text="${user.name}"></span></td>
                        <td><span th:text="${#lists.size(user.projects)}"></span></td>
                        <td><span th:text="${user.email}"></span></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div class="employee-list project-employees-section" style="margin-top: 15px;">
        <h2>Project Employees</h2>
        <input sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_SUPERADMIN')" type="text" id="searchProjectInput" onkeyup="filterProjectEmployees()" placeholder="Search for project employees...">
        <button sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_SUPERADMIN')" class="btn delete-btn" type="button" onclick="removeSelectedEmployees()">Delete Selected</button>
        <table class="employee-table" id="projectEmployeesTable">
            <thead>
                <tr>
                    <th sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_SUPERADMIN')"></th>
                    <th>Name</th>
                    <th>Projects</th>
                    <th>Email</th>
                    <!-- Conditionally render the action column heading -->
                    <th th:if="${#authentication.principal.username == project.creator.email}" class="action-heading">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${project.employees}">
                    <td sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_SUPERADMIN')">
                        <label class="checkbox-container">
                            <input type="checkbox" name="deleteEmployeeId" th:value="${employee.id}" class="custom-checkbox delete-employee-checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </td>
                    <td th:text="${employee.name}" class="employee-name"></td>

                    <td th:text="${#lists.size(employee.projects)}" class="employee-name"></td>
                    <td th:text="${employee.email}" class="employee-name"></td>
                    <td>
                        <!-- Conditionally render the delete button for the project creator -->
                        <button th:if="${#authentication.principal.username == project.creator.email}" class="btn delete-btn" type="button" th:onclick="'removeEmployeeFromProject(\'' + ${employee.id} + '\')'">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="uploadModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeUploadModal()">&times;</span>
        <h2>Bulk Upload Users to Project</h2>
        <form id="uploadForm" enctype="multipart/form-data" action="/projects/mapUsersToProject" method="post">
            <input type="file" name="file" accept=".xlsx, .xls">
            <input type="hidden" id="projectId" name="projectId" th:value="${project.id}"> 
            <button class="modal-button" type="submit">Upload Excel File</button>
        </form>
    </div>
</div>

<!-- JavaScript function to handle adding employee to project -->
<script th:inline="javascript">
    var projectId = /*[[${projectId}]]*/ null; // Access projectId passed from controller

    function addEmployeeToProject() {
        var form = document.getElementById('addEmployeeForm');
        var checkboxes = form.getElementsByClassName('employee-checkbox');
        var selectedUsers = [];
    
        // Iterate over checkboxes to find selected users
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                selectedUsers.push(checkboxes[i].value);
            }
        }
        console.log(selectedUsers)
    
        // If no users are selected, return
        if (selectedUsers.length === 0) {
            alert('Please select at least one employee.');
            return;
        }
    
        // Perform addition of selected employees to the project
        fetch('/projects/' + projectId + '/employees', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(selectedUsers)
        })
        .then(response => {
            if (response.ok) {
                location.reload(); // Reload the page after successful addition
            } else {
                alert('Failed to add employee(s) to project.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Failed to add employee(s) to project.');
        });
    }

    // JavaScript function to handle removing employee from project
    function removeEmployeeFromProject(employeeId) {
        if (confirm('Are you sure you want to remove this employee from the project?')) {
            fetch('/projects/' + projectId + '/employees/' + employeeId, {
                method: 'DELETE'
            })
            .then(response => {
                if (response.ok) {
                    location.reload(); // Reload the page after successful removal
                } else {
                    alert('Failed to remove employee from project.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Failed to remove employee from project.');
            });
        }
    }

    // JavaScript function to filter available users based on search input
    function filterAvailableUsers() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("availableUsersTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1]; // Index 1 for the "Name" column
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    // JavaScript function to filter project employees based on search input
    function filterProjectEmployees() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchProjectInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("projectEmployeesTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1]; // Index 1 for the "Name" column
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    // JavaScript function to remove selected employees
    function removeSelectedEmployees() {
        var form = document.getElementById('projectEmployeesTable');
        var checkboxes = form.getElementsByClassName('delete-employee-checkbox');
        var selectedEmployees = [];
    
        // Iterate over checkboxes to find selected employees
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                selectedEmployees.push(checkboxes[i].value);
            }
        }
    
        // If no employees are selected, return
        if (selectedEmployees.length === 0) {
            alert('Please select at least one employee to delete.');
            return;
        }
    
        // Perform deletion of selected employees from the project
        if (confirm('Are you sure you want to delete the selected employees?')) {
            fetch('/projects/' + projectId + '/employees', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(selectedEmployees)
            })
            .then(response => {
                if (response.ok) {
                    location.reload(); // Reload the page after successful deletion
                } else {
                    alert('Failed to delete selected employees from the project.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Failed to delete selected employees from the project.');
            });
        }
    }
      // JavaScript function to open the upload modal
      function openUploadModal() {
        document.getElementById('uploadModal').style.display = "block";
    }

    // JavaScript function to close the upload modal
    function closeUploadModal() {
        document.getElementById('uploadModal').style.display = "none";
    }
</script>
</body>
</html>
