<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Email Verified</title>
</head>

<body>
   
<main class="container">
    <div class="alert alert-success">
        <h1 class="my-highest-header">Email successfully verified. successfull registration completed</h1>
        <span class="login button"><a href="/login">Login to continue</a></span>
    </div>
</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</body>
</html>