<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Error Page</title>
  </head>
  <link rel="stylesheet" th:href="@{/css/error.css}">
  <body>
    <div class="container">
      <div class="error">
          <h1 th:text="${status}">400</h1>
          <p th:text="'('+${error}+')'">error</p>
          <p th:text="${timestamp}"></p>
         
        </p>
      </div>
      <div class="stack-container">
          <div class="card-container">
              <div class="perspec" style="--spreaddist: 125px; --scaledist: .75; --vertdist: -25px;">
                  <div class="card">
                      <div class="writing">
                          <div class="topbar">
                              <div class="red"></div>
                              <div class="yellow"></div>
                              <div class="green"></div>
                          </div>
                          <div class="code">
                              <ul>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card-container">
              <div class="perspec" style="--spreaddist: 100px; --scaledist: .8; --vertdist: -20px;">
                  <div class="card">
                      <div class="writing">
                          <div class="topbar">
                              <div class="red"></div>
                              <div class="yellow"></div>
                              <div class="green"></div>
                          </div>
                          <div class="code">
                              <ul>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card-container">
              <div class="perspec" style="--spreaddist:75px; --scaledist: .85; --vertdist: -15px;">
                  <div class="card">
                      <div class="writing">
                          <div class="topbar">
                              <div class="red"></div>
                              <div class="yellow"></div>
                              <div class="green"></div>
                          </div>
                          <div class="code">
                              <ul>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card-container">
              <div class="perspec" style="--spreaddist: 50px; --scaledist: .9; --vertdist: -10px;">
                  <div class="card">
                      <div class="writing">
                          <div class="topbar">
                              <div class="red"></div>
                              <div class="yellow"></div>
                              <div class="green"></div>
                          </div>
                          <div class="code">
                              <ul>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card-container">
              <div class="perspec" style="--spreaddist: 25px; --scaledist: .95; --vertdist: -5px;">
                  <div class="card">
                      <div class="writing">
                          <div class="topbar">
                              <div class="red"></div>
                              <div class="yellow"></div>
                              <div class="green"></div>
                          </div>
                          <div class="code">
                              <ul>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card-container">
              <div class="perspec" style="--spreaddist: 0px; --scaledist: 1; --vertdist: 0px;">
                  <div class="card">
                      <div class="writing">
                          <div class="topbar">
                              <div class="red"></div>
                              <div class="yellow"></div>
                              <div class="green"></div>
                          </div>
                          <div class="code">
                              <ul>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
 
  </div>
    <script th:src="@{/js/error.js}"></script>
  </body>
</html>